.progress-div {
  background-color: rgb(233, 233, 233);
  border-radius: .5rem;
  margin-top: 10px; /* bar 상하 간격 */
}

.progress {
  background-color: #F4BA3499;
  height: 10px;
  border-radius: 1rem;
}