/* Slice dots을 재정의 하기 위한 css */

.test-css {
  bottom: -25px;
  width: 100%;
  list-style: none;
  text-align: end;
  position: absolute;
  right: 15px;
  padding: 0;
}

.test-css li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  /*margin: 1px;*/
  padding: 0;
  cursor: pointer;
}

.test-css li button {
  font-size: 40px;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0;
}

.test-css li button:before {
  font-size: 2.7rem;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .75;
  color: #6D6968;
}

.test-css li.slick-active button:before {
  opacity: .75;
  color: #ffffff;
}